Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: default-jre (>= 2:1.21)
Maintainer: Rene Malmgren <rene.malmgren@redtoken.ae>
Description: IZ KeyVault - deterministic key management tool
Distribution: development